<div class="about_section layout_padding ">
    <div class="view_article" style="margin: 3rem;padding:2rem;">
        <div
            style="display: flex; justify-content:flex-start; flex-direction: row; width: 100%;gap: 1rem;margin-bottom: 1rem;">
            <span class="badge rounded-pill text-bg-light" style="border:1px solid black">Popular</span>

            <span class="badge rounded-pill text-bg-dark">{{article?.category}}</span>
        </div>
        <div
            style="display: flex;justify-content:flex-start; flex-direction: row; width: 100%;gap: 1rem;margin-bottom: 1rem;">
            <h2 style="text-align: left;" class="most_text">{{ article?.title }}</h2>
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">View Comments</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Comments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <comments-sidebar [articleId]="articleId"></comments-sidebar>
            </div>
        </div>
        <div style="display: flex; justify-content:flex-start; flex-direction: row; width: 100%;gap: 1rem; margin-bottom:
            1rem;">
            <img style="width: 30px;height:30px;" src="images/usericon.jpg" alt="profile" class="mr-3">
            <!-- Image/Icon -->

            <div>
                <h6 class="mb-0">{{ article?.authorName }}</h6>
                <small class="text-muted">{{readTime}}</small>
            </div>
            <a class="ml-auto" style="text-decoration:none;">Follow</a>
        </div>

        <div class="about_img" style="width: 100%; border: 1px solid black;">
            <img style="width: 100%;height:200px;object-fit: contain;" [src]="article?.image" class="img-fluid"
                alt="Article image">
        </div>
        <div class="like_icon">
            <img src="images/like-icon.png" alt="Like Icon">
        </div>
        <p class="post_text">Post By : {{ article?.publishDate }}</p>
        <p class="lorem_text">
            {{ article?.description }}
            <!-- <a [routerLink]="['/article', article.id]">Read More</a> -->
        </p>
        <div class="flex-jcs">
            <div class="read_bt">
                <!-- <p>Views: {{ article.views }}</p> -->
            </div>
            <div class="read_bt">
                <!-- <p>Comments: {{ article.comments.length }}</p> -->
            </div>
            <div class="read_bt">
                <p>Save</p>
            </div>
            <div class="read_bt">
                <!-- <p>{{ article.authorName }}</p> -->
            </div>
        </div>
    </div>
    <div style="margin-left: 40px;">
        <div>
            <h3 style="margin-bottom: 30px;">Recommended for you</h3>
        </div>
        <div class="row">
            <div *ngFor="let relatedArticle of relatedArticles" class="col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <img [src]="relatedArticle.image" class="card-img-top" alt="Article image">
                    <div class="card-body">
                        <h5 class="card-title">{{ relatedArticle?.title|slice:0:70 }}..</h5>
                        <p class="card-text">{{ relatedArticle?.description |slice:0:100 }}...</p>
                        <a [routerLink]="['/viewarticle', relatedArticle.id]" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 40px;"></div>
    </div>
</div>