<div>
    <div class="article-header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-12">
                    <div class="about_section layout_padding">
                        <span class="border border-light"></span>

                        <!-- Show "Open Draft" button for each draft -->
                        <div style="margin: 20px;"></div>
                        <button style="margin: 10px;" *ngFor="let draft of drafts" type="button"
                            (click)="openDraft(draft)" class="btn btn-secondary"> Draft ({{ draft.title | slice:0:5 }})
                        </button>
                        <div style="margin: 20px;"></div>

                        <form #form="ngForm" class="article-form">
                            <div class="article-form-elements">
                                <div class="article-thumbnail">
                                    <label for="thumbnail">Thumbnail</label>
                                    <input type="file" id="thumbnail" (change)="onThumbnailSelected($event)">
                                </div>

                                <div class="article-title">
                                    <input type="text" name="title" [(ngModel)]="articleData.title"
                                        placeholder="My First Article" required>
                                </div>

                                <div class="flex-jcs">
                                    <div class="btn-group">
                                        <select class="form-select" [(ngModel)]="articleData.category" name="category"
                                            required>
                                            <option value="">Select Category</option>
                                            <option value="sports">Sports</option>
                                            <option value="gym">Gym</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="article-description">
                                    <input type="text" name="description" [(ngModel)]="articleData.description"
                                        placeholder="Description">
                                </div>

                                <div style="display: flex; justify-content: center; margin-bottom: 40px;">
                                    <label for="thumbnail">Add Image</label>
                                    <input type="file" id="thumbnail" (change)="onImageSelected($event)">
                                </div>

                                <div style="display: flex; justify-content: space-between">
                                    <!-- Show "Save Draft" or "Update Draft" button based on whether it’s a new or existing draft -->

                                    <div style="display: flex; justify-content: center; margin-bottom: 70px;">
                                        <button (click)="saveDraft()" class="btn btn-primary" type="button">{{
                                            articleData.authorId ? 'Update
                                            Draft'
                                            :'Save Draft' }}
                                        </button>
                                    </div>
                                    <div style="display: flex; justify-content: center; margin-bottom: 70px;">
                                        <button (click)="createArticle()" class="btn btn-primary"
                                            type="button">Publish</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>